<header>
    <div class="header">
        <a href="{{=it.homeurl}}">
        <div title="{{=it.c.i18n.homeAlt}}" class="hicon hicon64 headleft"><i class="icon-home" id="homeImage"></i></div>
        </a>
        <div{{? it.c.config.server_side_rendering == 0}} title="{{=it.c.i18n.cogAlt}}"{{?}} class="hicon hicon64 headright">
             {{? it.c.config.server_side_rendering == 0}}
             <i class="icon-download" id="searchImage"></i>
             {{??}}
             <i class="icon-none" id=""></i>
             {{?}}
        </div>
        <div class="headcenter">
            <div class="headcenter-tablecell">
                <h1>{{=it.title}}</h1>
                {{? it.subTitle != ""}}
                <h3>{{=it.subTitle}}</h3>
                {{?}}
            </div>
        </div>
    </div>
{{? it.page != 13 && it.page != 19 }}
        <div id="tool" style="display: none">
            {{? it.c.config.server_side_rendering == 0}} {{?}}
            <div class="searchForm" style="">
                <form id="searchForm" action="index.php" method="get">
                    <div class="stop">
                        <input type="hidden" name="page" value="9" />
                        {{? it.databaseId != ""}}
                        <input type="hidden" name="db" value="{{=it.databaseId}}" />
                        {{?}}
                        <input type="text" data-type="search" required="required" name="query" />
                    </div>
                    <button title="{{=it.c.i18n.searchAlt}}" type="submit" class="hicon hicon32 submit">
                        <i class="icon-search icon-2x"></i>
                    </button>
                </form>
            </div>
            <div id="sortForm" style="display: none">
                <div class="stop">
					<select id="sortchoice">
                        <option value="st">{{=it.c.i18n.bookwordTitle}}</option>
                        <option value="sa">{{=it.c.i18n.authorsTitle}}</option>
                        <option value="ss">{{=it.c.i18n.seriesTitle}}</option>
                        <option value="sp">{{=it.c.i18n.pubdateTitle}}</option>
                    </select>
                    <select id="sortorder">
                        <option value="asc">{{=it.c.i18n.sortorderAsc}}</option>
                        <option value="desc">{{=it.c.i18n.sortorderDesc}}</option>
                    </select>
                    <div title="{{=it.c.i18n.sortAlt}}" id="sort" class="hicon hicon32 sort"><i class="icon-sort icon-1x"></i></div>
                </div>
            </div>
            <div id="filter" style="display: none"> <ul> </ul> </div>
			<div id="letters" style="display: none"><ul>
            <li class="clear"><i id="clear_letter" class="icon-undo"></i></li><li>A</li><li>B</li><li>C</li><li>D</li><li>E</li><li>F</li><li>G</li><li>H</li><li>I</li><li>J</li><li>K</li><li>L</li><li>M</li><li>N</li><li>O</li><li>P</li><li>Q</li><li>R</li><li>S</li><li>T</li><li>U</li><li>V</li><li>W</li><li>X</li><li>Y</li><li>Z</li><li>#</li>
            </ul></div>
            <div class="clrboth"> </div>
        </div>
{{?}}
</header>
