<section>
{{? it.page == 13 || it.page == 16}}
    {{? it.page == 13}}
        {{#def.bookdetail}}
    {{??}}
        {{= it.fullhtml}}
    {{?}}
{{??}}
{{~it.entries:entry:i}}
    {{? it.containsBook == 0}}
    <article class="catlibs">
        {{? entry.navlink != "#"}}<a href="{{=entry.navlink}}">{{?}}
        <div class="frontpage"><div>
        {{? entry.caticon != "#"}}
        <div class="caticon">
            <img src="{{=entry.caticon}}" />
        </div>
        {{?}}
            <div class="vcenter">
            {{? it.page == 19 }}
            <h3>{{=(entry.title)}} {{=entry.content}}</h3>
            {{??}}
            <h2>{{=htmlspecialchars (entry.title)}}</h2>
            <h4>{{? entry.navlink != "#"}}{{?}}{{=entry.content}}{{? entry.navlink != "#"}}{{?}}</h4>
            {{?}}
            </div>
        </div></div>
        {{? entry.navlink != "#"}}</a>{{?}}
    </article>
    {{??}}
    <article class="books">
            <div class="left" >
            {{? entry.book.hasCover == 1}}
                <div class="cover">
                    <a class="fancycover" href="{{=str_format (it.c.url.coverUrl, entry.book.id, it.databaseId)}}">
                    <img src="{{=str_format (it.c.url.thumbnailUrl, entry.book.id, it.databaseId)}}" title="{{=htmlspecialchars (entry.title)}}" alt="{{=it.c.i18n.coverAlt}}" /></a>
                </div>
            {{??}}
                <div class="cover">
                    <!--a class="fancycover" href="images/default_book_cover.jpg"-->
                    <img src="{{=it.c.url.defaultCover}}" title="{{=htmlspecialchars (entry.title)}}" alt="{{=it.c.i18n.coverAlt}}" />
                    <!--/a-->
                </div>
            {{?}}
            </div>
            <div class="right">
                <h2 class="download">{{~entry.book.preferedData:data:j}}<div><a href="{{=data.url}}">{{=data.name}}</a></div>{{~}}</h2>
                    <a class="fancydetail" href="{{=str_format (it.c.url.detailUrl, entry.book.id, it.databaseId)}}">
                <div class="fullclickpopup">
                        <div><h2><span class="nosort" title="{{=htmlspecialchars (entry.title)}}">{{=htmlspecialchars (entry.title)}}</span>
                                 <span class="oksort st" title="{{=htmlspecialchars (entry.book.titleSort)}}">{{=htmlspecialchars (entry.book.titleSort)}}</span></h2></div>
                        {{? entry.book.seriesName != ""}}<div><h4>{{=it.c.i18n.seriesTitle}}: </h4><span class="ss">{{=htmlspecialchars (entry.book.seriesName)}} ({{=entry.book.seriesIndex}})</span></div>{{?}}
                        <div><h4>{{=it.c.i18n.authorsTitle}}: </h4><span class="nosort">{{=htmlspecialchars (entry.book.authorsName)}}</span></div>
                        <div><span class="oksort sa">{{=htmlspecialchars (entry.book.authorsSort)}}</span></div>

                        {{? entry.book.pubDate != ""}}<div><h4>{{=it.c.i18n.pubdateTitle}}: </h4><span class="sp">{{=entry.book.pubDate}}</span></div>{{?}}
                        {{? entry.book.rating != ""}}<div><h4>{{=it.c.i18n.ratingTitle}}: </h4><span class="sr">{{=entry.book.rating}}</span></div>{{?}}

                        {{? entry.book.tagsName != ""}}<div><h4>{{=it.c.i18n.tagsTitle}}: </h4><span class="se">{{=htmlspecialchars (entry.book.tagsName)}}</span></div>{{?}}
                </div>
                    </a>
            </div>
        </article>
    {{?}}
{{~}}
{{?}}
</section>
